<body>
<h1>Danh Sach Sinh Vien (SSR)</h1>

<div style="margin-bottom: 15px;">
    <a href="/students/create" style="padding: 8px 15px; background-color: #4CAF50; color: white; text-decoration: none; border-radius: 4px;">+ Thêm Mới</a>
</div>

<form action="/students" method="GET">
    <input type="text" name="keyword" placeholder="Nhap ten..." />
    <button type="submit">Tim</button>
</form>

<table>
    <thead>
    <tr>
        <th>Mã số sinh viên</th>
        <th>Họ và tên</th>
        <th>Email</th>
        <th>Tuổi</th>
        <th>Hành Động</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${dsSinhVien}">
        <td th:text="${student.id}">ID Mau</td>
        <td th:text="${student.name}">Ten Mau</td>
        <td th:text="${student.email}">Email Mau</td>
        <td th:text="${student.age}">0</td>
        <td>
            <a th:href="@{/students/{id}(id=${student.id})}">Xem Chi Tiết</a>
        </td>
    </tr>
    </tbody>
</table>
</body>